.header {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  /* border: 2px black solid; */
  margin: auto;
  padding: 1rem 8rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  color: #333;
  /* #2d0351,
    #470e78 */
  /* background-color: yellow !important; */
  color: aliceblue;

  /* opacity: 0.8; */
}

.fileName {
  color: aliceblue;

  text-align: center;
}
.version {
  font-size: 0.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.titleFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #555; */
  /* margin-top: 1rem; */
  /* margin-right: 1rem; */
  /* font-size: 2rem; */
  /* font-weight: 200; */
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;

  box-shadow: 9px 9px 16px rgba(96, 173, 91, 0.5),
    -9px -9px 16px rgba(96, 173, 91, 0.5),
    inset 3px 3px 7px rgba(92, 131, 96, 0.48), inset -3px -3px 7px #478860;
  /* background: linear-gradient(
    318.32deg,
    rgba(163, 177, 198, 0.1) 0%,
    rgba(163, 177, 198, 0.1) 55%,
    rgba(163, 177, 198, 0.25) 100%
  ); */
}
.titleFlex:hover {
  background: linear-gradient(
    318.32deg,
    rgba(163, 177, 198, 0.1) 0%,
    rgba(163, 177, 198, 0.1) 55%,
    rgba(163, 177, 198, 0.25) 100%
  );
}
.title {
  padding-left: 1rem;
  font-size: 1.5rem;
}
.subtitle {
  align-items: center;
  font-size: 0.8rem;
}
.link {
  align-items: center;
  font-size: 0.5rem;
  text-decoration: none;
  color: aliceblue;
}
.excelName {
  color: aliceblue;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.filePicker {
  margin-top: 0.5rem;
  /* border: none;
  outline: none;
  outline-width: 0; */
}

.fileInput label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  /* background: linear-gradient(40deg, #ff6ec4, #7873f5); */
  background: rgb(165, 227, 40);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(10, 75, 10);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

input:hover + label {
  transform: scale(1.18);
  background-color: rgb(231, 231, 25);
  color: #2d0351;
  /* box-shadow: 14px 14px 14px 14px rgba (0, 0, 0, 0.4); */
}

input:focus + label {
  /* outline: 1px solid #000; */
  /* outline: -webkit-focus-ring-color auto 2px; */
}
