@font-face {
  font-family: "samim";
  src: url("../Samim-Bold-FD.woff2") format("woff2");
}

.tablePaper {
  text-align: center !important;
  background-color: rgba(30, 226, 82, 0.5) !important;
  padding: 2rem 2rem !important;
  border-radius: 0.8rem !important;
}

input,
select,
button {
  text-align: center;
  font-family: "samim", sans-serif !important;
  border-radius: 0.5rem;
  background-color: rgb(29, 112, 68);
  color: wheat;
}

.TableHead {
}
.TableRow {
}
.filtersRow {
  font-family: "samim", sans-serif !important;
  text-align: center !important;
  background-color: rgb(29, 112, 68) !important;
  color: wheat !important;
}

.filtersRow:first-child {
  border-top-left-radius: 0.8rem !important;
}

.filtersRow:last-child {
  border-top-right-radius: 0.8rem !important;
}

td {
  text-align: center !important;
  font-family: "samim", sans-serif !important;
  border-radius: 0rem !important;
}

.excelRow {
  border: solid #aaa 0.5px;
  border-radius: 5px;
  padding: 0rem !important;
  background-color: beige !important;
}

.pagination {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  padding: 1rem;
}
.pagination select {
  text-align: center;
  direction: rtl;
  font-family: "samim", sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: beige !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgb(29, 112, 68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 66, 40);
}
