.no-excel--wrapper {
  text-align: center;
  padding: 4rem 2rem;
  user-select: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column-reverse; */
}

.excel-icon {
  /* height: auto; */
  height: 30vh;
  margin: 2rem;
  margin-left: 3rem;
  transition: all 0.2s ease-in-out;
  /* margin-bottom: 1rem; */
}
.excel-icon:hover {
  transform: scale(1.1) rotate(10deg);
}

.excel-text {
  font-size: 1.5rem;
  flex-shrink: 0;
}
