@font-face {
  font-family: "samim";
  src: url("./Samim-Bold-FD.woff2") format("woff2");
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "samim", sans-serif;

  background: linear-gradient(to right, #2d0351, #470e78 /* #da22ff */);
  background: rgb(29, 112, 68);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
